{% extends 'base.html' %}
{% load static %}

{% block title %}
	Product
{% endblock %}

{% block content %}
<div class="container py-5">
	<div class="row mt-5">
		<div class="col-10 mx-auto col-md-6 my-3">
			<img src="{% static 'images/teddy.png' %}">
		</div>
	</div>
</div>

<div class="col-10 mx-auto col-md-6 my-3">
	<div>
		<h1 class="product_title">Teddy Bear</h1>
		<p class="text-info font-italic mb-6">$10</p>
		<p class="product_desc">Product Description</p>
		<p class="text-justify product_text"> В зависимости от видовой принадлежности длина тела хищника может колебаться от 1,2 до 3 метров, а вес медведя варьируется от 40 кг до тонны. Тело у этих животных крупное, коренастое, с толстой, короткой шеей и большой головой. Мощные челюсти позволяют легко разгрызать как растительную, так и мясную пищу. Конечности довольно короткие и слегка изогнуты. Поэтому медведь ходит, покачиваясь из стороны в сторону, и опирается на всю ступню. Скорость медведя в моменты опасности может достигать 50 км/ч. При помощи больших и острых когтей эти животные добывают из-под земли пищу, разрывают добычу и вскарабкиваются на деревья. Многие виды медведей хорошо плавают. У белого медведя для этого между пальцами есть специальная перепонка. Продолжительность жизни медведя может достигать 45 лет.</p>
		<p class="text-justify product_text">Out Of Stock</p>
	</div>
</div>
{% endblock %}



